<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mskkingtake.Dao.MskTestMapper">
	<select id="getMskTestById" resultType="mskkingtake.bean.MskTest" databaseId="oracle">
		select * from MSK_TEST where id = #{id}
	</select>
	
	<select id="getMskTestList" resultType="mskkingtake.bean.MskTest" databaseId="oracle">
		select * from MSK_TEST where id = #{id}
	</select>
	
	<select id="getMskTestByIdMap" resultType="map" databaseId="oracle">
		select * from MSK_TEST where id = #{id}
	</select>
	
	<select id="getMskTestListMap" resultType="mskkingtake.bean.MskTest" databaseId="oracle">
		select * from MSK_TEST where name like #{name}||'%'
	</select>
	
	<insert id="addMskTest" parameterType="mskkingtake.bean.MskTest">
		INSERT INTO MSK_TEST 
		         ( ID
		         , NAME
		         , ADDR
		         , EMAIL,TEL
		         ) VALUES 
		         ( #{id}
		         , #{name}
		         , #{addr}
		         , #{email}
		         , #{tel}
		         )
	</insert>
	
	<update id="updateMskTest" parameterType="mskkingtake.bean.MskTest">
		UPDATE MSK_TEST T 
		      SET T.NAME =  #{name}
		          , ADDR =  #{addr}
		          , EMAIL = #{email}
		          , TEL = #{tel}
		WHERE T.ID = #{id}
	</update>
	
	<delete id="deleteMskTest" parameterType="mskkingtake.bean.MskTest">
		DELETE FROM MSK_TEST T WHERE T.ID = #{id}
	</delete>
</mapper>